# =============================
# Build Artifacts
# =============================

# Object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Linker
*.ilk

# Debug
*.pdb
*.dwo

# Executables
*.exe
*.out
*.app

# Dynamic Libraries (ignore globally)
*.dll
*.so
*.dylib

# Static Libraries (ignore globally)
*.a
*.lib

# =============================
# Visual Studio
# =============================
MSFR/.vs/
MSFR/MSFR/x64/

# =============================
# Allow external libraries
# =============================

!MSFR/external/
!MSFR/external/bin/
!MSFR/external/lib/
!MSFR/external/bin/**
!MSFR/external/lib/**
MSFR/imgui.ini
MSFR/Trace.log
