# =============================
# Build Artifacts
# =============================

# Object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Linker
*.ilk

# Debug
*.pdb
*.dwo

# Executables
*.exe
*.out
*.app

# Dynamic Libraries (ignore globally)
*.dll
*.so
*.dylib

# Static Libraries (ignore globally)
*.a
*.lib

# =============================
# Visual Studio
# =============================
MSFR/.vs/
MSFR/x64/
MSFR/MSFR/x64/
MSFR/EngineLib/
.vs/
.vscode/
.idea/
*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.opendb
*.idb
*.ipch
*.tlog
*.lastbuildstate
Debug/
Release/
x64/
x86/

# =============================
# Allow external libraries
# =============================

!MSFR/external/
!MSFR/external/bin/
!MSFR/external/lib/
!MSFR/external/bin/**
!MSFR/external/lib/**
imgui.ini
Trace*.log
MSFR/imgui.ini
MSFR/Trace.log
artifacts/
